html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica Neue, sans-serif;

  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', Helvetica Neue, sans-serif;
}

a {
  color: #d44500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
