@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', Helvetica Neue, sans-serif;

    line-height: 1.6;
    font-size: 18px;
    @apply text-offBlack;
  }

  * {
    box-sizing: border-box;
  }

  main {
    flex: 1 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  nav {
    font-family: 'Raleway', Helvetica Neue, sans-serif;
  }

  a {
    color: #d44500;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    display: block;
  }
}

@layer utilities {
  .heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }

  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }

  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }

  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem 0;
  }

  .borderCircle {
    border: 4px solid #f2511b !important;
    border-radius: 9999px;
  }

  .headerHeadingLink {
    @apply transition-all duration-200 text-pomegranate-500 hover:text-pomegranate-600 hover:no-underline;
  }

  .headerNavLink {
    @apply mx-4 text-offBlack transition-all duration-200 hover:text-pomegranate-500 hover:no-underline;
  }

  .footerSvgLink {
    @apply w-6 h-6 mx-4 fill-black transition-all duration-200 hover:fill-pomegranate-500 hover:scale-125;
  }
}

@layer components {
  .card {
    @apply relative h-full top-0 max-w-sm bg-white border border-gray-200 rounded-lg shadow transition-all duration-200;
  }

  .card:hover {
    @apply shadow-[0px_4px_8px_rgba(38,38,38,0.2)] -top-[6px] border-pomegranate-500;
  }
}
